<div class="jumbotron">
    <div class="container">
        <h1 class="logo-text">Best Instagram Pictures</h1>
        <span class="btn"><button type="button" class="btn btn-danger" onclick="reload()">Show popPics</button></span>
    </div>
</div>