<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-picture"></span> <span class="put-me-up">Popular Instagram Photos</span></a>
        </div>
    </div>
</nav>