<div class="jumbotron">
    <div class="container">
        <p class="text-center"><a href="/" title="Popular instagram pictures"><img src="img/poppi-logo.png" alt="POPPI"/></a></p>
    </div>
</div>