<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <h1 class="text-center brand-text"><span class="glyphicon glyphicon-picture"></span> <span class="put-me-up-logo"><a
                            href="/">popPics</a></span></h1>
        </div>
    </div>
</nav>