footer {
    padding: 50px;
}

.content {
    width: 800px;
    margin: auto;
}

.grey-color {
    color: #99979a;
}

.put-me-up {
    position: relative;
    padding-left: 4px;
    top: -3px;
}

.bar {
    float: left;
    padding-top: 10px;
}

.type-post {
    float: right;
    padding-top: 7px;
}

.full-screen {
    float: left;
    width: 100%;
    z-index: 1000;
}

.username {
    padding-top: 50px;
}

.username h1 a:hover {
    text-decoration: none;
}

.username h1 a {
    text-decoration: none;
}

.img-shadow {
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    -o-box-shadow: 0 0 8px rgba(0,0,0,0.5);
    padding: 10px;
}

.main-footer {
    background-color: #372F46;
    width: 100%;
    height: 200px;
}

.footer-text {
    padding-top: 48px;
}

.air {
    width: 100%;
    height: 50px;
}

.main-tags {
    float: left;
}

.images {
    height: 640px;
}

.tags {
    padding-top: 3px;
}

.put-me-down {
    position: relative;
    padding-left: 4px;
    top: 3px;
}

.put-me-up-logo {
    position: relative;
    padding-left: 4px;
    top: -9px;
}

.brand-text {
    color: #493b79;
}

.put-me-up-logo a {
    color: #493b79;
    text-decoration: none;
}

.put-me-up-logo a:hover {
    text-decoration: none;
}

.gold {
    color: #ffa670;
}

.red {
    color: #ff8495;
}

.btn {
    padding-left: 12px;
}

.logo-text {
    padding-left: 11px;
}