<!doctype html>
<html lang="en">
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body class="container">
        <header>
            <% include ../partials/header.ejs %>
        </header>

        <main id="content">
            <div class="row">
                <video src="" controls></video>
            </div>
        </main>

        <footer>
            <% include ../partials/footer.ejs %>
        </footer>
    </body>
</html>